h1 {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    width: 60px;
    height: 30px;
    justify-content: center;
}

#heading {
    color: darkblue;
    text-align: center;
}

.paragraph-style {
    color:fuchsia;
    text-align: left;
}
a {
    color: blue;
    text-decoration: underline;
}

a:hover {
  color: red;
  text-decoration: underline;
}